/.vscode
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CTestTestfile.cmake
build/libCustomTypes.a
build/libUIFramework.a
build/.cmake/api/v1/reply/cache-v2-4ea157b5e48dff9092c4.json
build/.cmake/api/v1/reply/cache-v2-70b3fa7ce068d6d16572.json
build/.cmake/api/v1/reply/cmakeFiles-v1-65200db33a62bd03d803.json
build/.cmake/api/v1/reply/cmakeFiles-v1-b3f8b48fb3fffd5427e6.json
build/.cmake/api/v1/reply/codemodel-v2-2c7e80e86d4fd94acf47.json
build/.cmake/api/v1/reply/codemodel-v2-4a6183cdf68de15c25ff.json
build/.cmake/api/v1/reply/directory-App-Debug-0bdf1fd094da83e32101.json
build/.cmake/api/v1/reply/directory-Libraries-Debug-e8f09d550bf1415af829.json
build/.cmake/api/v1/reply/index-2023-11-14T04-37-06-0344.json
build/.cmake/api/v1/reply/index-2023-11-15T12-58-25-0213.json
build/.cmake/api/v1/reply/target-BuiltApp-Debug-4900ee8a55ebd8fd69cd.json
build/.cmake/api/v1/reply/target-ConsoleRenderer-Debug-2fba25a7ac04225392f6.json
build/.cmake/api/v1/reply/target-CustomTypes-Debug-12f7c55a4f97fb202d40.json
build/.cmake/api/v1/reply/target-UIFramework-Debug-f0322e5f459cf179f7c8.json
build/App/BuiltApp
build/App/cmake_install.cmake
build/App/CTestTestfile.cmake
build/App/DartConfiguration.tcl
build/App/CMakeFiles/App.dir/main.cpp.o
build/App/CMakeFiles/BuiltApp.dir/main.cpp.o
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/App.dir/main.cpp.o
build/CMakeFiles/CustomTypes.dir/CustomTypes.cpp.o
build/CMakeFiles/UIFramework.dir/UIFramework.cpp.o
build/Libraries/cmake_install.cmake
build/Libraries/CTestTestfile.cmake
build/Libraries/DartConfiguration.tcl
build/Libraries/libCustomTypes.a
build/Libraries/libUIFramework.a
build/Libraries/CMakeFiles/CustomTypes.dir/CustomTypes.cpp.o
build/Libraries/CMakeFiles/UIFramework.dir/UIFramework.cpp.o
build/Testing/TAG
build/Testing/20231114-0437/Test.xml
build/Testing/20231115-1153/Test.xml
build/Testing/Temporary/LastTest_20231114-0437.log
build/Testing/Temporary/LastTest_20231115-1153.log
.gitignore
.cache/clangd/index/main.cpp.15C2CA1311217F6C.idx
.cache/clangd/index/UIFramework.cpp.5E5CF95E5917689C.idx
.cache/clangd/index/UIFramework.h.C6D5818715C77D1B.idx
